include LICENSE
include README.rst
include requirements.txt
recursive-include nets_core/static *
recursive-include nets_core/templates/nets_core *
recursive-include nets_core/middleware *
recursive-include nets_core/management *
recursive-include nets_core/management/commands *
recursive-include nets_core/procedures/functions *
recursive-include nets_core/procedures *
recursive-include docs *
